<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Muzingle</title>
  <style>
    body {
      font-size: 1.2rem;
    }
    #form-group {
      margin: 2rem 0;
    }
    .song {
      margin: 1.5rem 0;
    }
    input {
      min-height: 1.3rem;
    }
    button {
      margin-bottom: 1.3rem;
    }
  </style>
</head>
<body>
  <h1>Muzingle</h1>
	<main>
    <p>Enter your favourite song and we will recommend similar songs for you to listen</p>
    <form action="/" method="POST">
      <div id="form-group">
        <label for="songName">Enter the name of your favourite song</label>
        <input type="text" placeholder="Name of song" name="song" id="songName">
      </div>
      <div id="form-group">
        <label for="songYear">Enter the year of the song</label>
        <input type="number" placeholder="Year of song" name="year" id="songYear">
      </div>
      <button type="submit">Recommend</button>
    </form>
    <div id="songs">
      {% if recommended %}
        <b>Some song suggestions for you! Enjoy</b>
        {% for song in recommended %}
        <div class="song">
          {{ song.name }} ({{ song.year }}) by {{ song.artists }}
        </div>
        {% endfor %}
      {% endif %}
    </div>
  </main>
</body>
</html>